


/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background:rgb(80, 200, 245);
  padding-left: 30px;
  color: #000;
  float: left;
  width: 30%;
  box-sizing: border-box;
  border-radius:10px;
border-style: solid;
}
.col-60{
float: right;
border: 1px solid;
box-sizing: border-box;
}
#juego{
  height:618px;
  width: 618px;
  background-color: rgb(224, 228, 21);
}
.imagen{
float: left;
width:200px;
height:200px;
border-style:solid;
border-color:rgb(34, 249, 59)
}
.imagen img {
  max-width: 100%;
}
#juego div {

  text-align: center;
  animation: fadein 2s;
}
.pie{
  clear: both;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#introduction{
  background-color:rgb(204,225,0);
  border-style:solid;
    border-radius:15px;
}
#titulo{
  color:rgb(255, 255, 0);
}